# Port to run the server on
PORT=5000

# MongoDB URI (Update this in production)
MONGO_URI=mongodb://127.0.0.1:27017/measurementdb

# JWT Secret Key (Crucial: Change this in production!)
JWT_SECRET=yoursecretkey

# Frontend URL (For CORS - use * for all or specify your domain)
CLIENT_URL=*
